header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 660px;
  padding: 20px 0px;
}

.header-undoBtn,
.header-clearBtn,
.header-redoBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
  background-color: white;
  cursor: pointer;
  font-weight: bold;
}
.header-clearBtn:hover,
.header-undoBtn:hover,
.header-redoBtn:hover {
  background-color: #f5f5f5;
  transition: all 0.3s;
}

.header-colorInp {
  width: 50px;
  height: 50px;
  border: none;
}
